pycodestyle
pyflakes
autopep8
coverage
python-coveralls
pytest
path.py
pytest-cov
mock
pytest-mock
setuptools
pip
boto3
formica-cli
awsie
former
argcomplete
aws-shell
former
ansi2html
# Scoutsuite
detect-secrets
cryptography==3.2